:root {
  --stroke: 3px;
  --bg-overlay: #101010
}

/* PRELOADER >> */
body.qr-scene .mindar-ui-overlay.mindar-ui-loading {
  background-color: var(--bg-overlay);
  z-index: 99;
}

body.qr-scene .mindar-ui-loading .loader {
  background: url(spaceboy-logo.svg);
  animation: none;
  border: none;
  border-radius: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: unplugged 1s steps(8, start) infinite;
  width: min(20vw, 80px);
}

#logo {
  cursor: pointer;
  width: min(15vw, 60px);
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 99;
}
#logo img {
  opacity: 0.8;
  transition: all 80ms ease-in;
}
#logo:hover img {
  transition: all 150ms ease-out;
  opacity: 1;
  transform: scale(1.05);
}
/* << PRELOADER */

/* SCAN >> */
body.qr-scene .mindar-ui-scanning .scanning .inner {
  background: linear-gradient(to right,white var(--stroke),transparent var(--stroke)) 0 0,linear-gradient(to right,white var(--stroke),transparent var(--stroke)) 0 100%,linear-gradient(to left,white var(--stroke),transparent var(--stroke)) 100% 0,linear-gradient(to left,white var(--stroke),transparent var(--stroke)) 100% 100%,linear-gradient(to bottom,white var(--stroke),transparent var(--stroke)) 0 0,linear-gradient(to bottom,white var(--stroke),transparent var(--stroke)) 100% 0,linear-gradient(to top,white var(--stroke),transparent var(--stroke)) 0 100%,linear-gradient(to top,white var(--stroke),transparent var(--stroke)) 100% 100%!important;
}

body.qr-scene .mindar-ui-scanning {
  background-image: url(spaceboy-frame.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  body.qr-scene .mindar-ui-scanning {
    background-image: url(spaceboy-frame-portrait.svg);
  }
  #logo {
    top: 15px;
    left: 15px;
  }
}

body.qr-scene .mindar-ui-scanning .scanning .inner .scanline {
  height: var(--stroke);
  animation: move 4s linear infinite;
}
/* << SCAN */

/* keyframes >> */
@keyframes unplugged {
  0% { opacity: 1}
  40% { opacity: 0.9}
  42% { opacity: 0.6}
  45% { opacity: 0.8}
  65% { opacity: 0.9}
  67% { opacity: 0.5}
  68% { opacity: 0.9}
  100% { opacity: 1}
}
/* << keyframes */